# Empty and omitted keys will use default values
AuditEnabled: true
AuditDir: audit_output
CucumberDir: cucumber_output
OverwriteHistoricalAudits: true
ServicePacks:
  Kubernetes:
    KubeConfig: 
    KubeContext:
    AuthorisedContainerRegistry: citihubprod.azurecr.io # required
    UnauthorisedContainerRegistry: docker.io # required
    ProbeImage: citihub/probr-probe
    Probes: # allows this pack's probes to be disabled by name
      - Name: pod_security_policy
        Excluded: "out"
      - Name: iam
        Excluded:
      - Name: general
        Excluded: "out"
      - Name: container_registry_access
        Excluded: "out"
      - Name: internet_access
        Excluded: "out"
        Scenarios: # allows this probe's scenarios to be disabled using their probe tag value
          - Name: "1.0"
            Excluded: # "Excluded to demonstrate scenario exclusion option"
  # Storage:
      # Provider: # if object OR required vars within it are omitted, pack will not be included
CloudProviders:
  Azure:
    TenantID: "8c739bb2-3e1e-494a-9f5a-22e154c876d0"
    SubscriptionID: "27cc841d-bab8-4080-b103-d89e00dc8c45"
    ClientID: "4c97ad17-0235-49cf-aa72-4ba445422a65"
    ClientSecret: ".~~Xcz0.GDegJCSX22X-18~JB6_AaJ9tM6"
    ManagementGroup:
    ResourceGroup: ProbrRG
    ResourceLocation: "westeurope"
    Identity:
      DefaultNamespaceAI:
      DefaultNamespaceAIB:
Tags: # allows user to create their own string of tag inclusions and/or exclusions
TagExclusions: # allows specific controls/scenarios to be disabled via a list of tags